.like_and_comment {
    display: flex;
    align-items: center;
    .icon_length {
        display: flex;
        .icon_comment {
            margin-left: 1rem;
            margin-right: .5rem;
        }
    }
}

// *********** COMMENT

.comments {

    .showComment {
        margin-left: 1rem;
        margin-right: 1rem;
        .commentaires {
            background: rgba(168, 167, 167, 0.068);
                    margin-top: .5rem ;
            border-radius: .5rem;
            padding: .3rem;
            .info_user {
                display: flex;
                justify-content: space-between;
                .user_comment {
                    text-decoration: underline;
                }
                .trash-comm {
                    font-size: .8rem;
                }
    
            }
        }
    }
    form {
        margin: 1rem 0 1rem 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        textarea {
            resize: none;
            border-radius: 1rem;
            padding: .5rem;
            width: 15rem;
        }
        #button {
            margin-top: .5rem;
            @include buttonStyle;
            &:hover {
                @include hover
            }
        }
    }
}











// ******************** MediaQueries **************


@media all and (max-width: 475px) {
    
    
}

