#sign-form {
    text-align: center;
    margin-top: 1.5rem;
    input {
        border-radius: 1rem;
        border: none;
        height: 2rem;
        width: 30%;
    }
    #email, #password {
        padding-left: 1rem;
    }
    .email-error, .password-error {
        color: rgb(146, 5, 5);
    }
    #button {
        @include buttonStyle;
        margin-bottom: 2rem;
        padding: 0;
        &:hover {
            @include hover;
        }
    }
}