body {
  background: $colorDark;
}

.connectionForm {
  @include containerStyle;
  @include glassmorphism;

  ul {
    display: flex;
    justify-content: center;
    li {
      margin: 2rem .4rem 1.5rem;
      @include buttonStyle;
      
      &:hover {
        @include hover;
      }
    }
  }
  .active-btn {
      background: $colorLight;
  }
}


// **************** MediaQueries *******************
@media all and (max-width:606px) {
  .connectionForm {
    width: 25rem;
  }
}

@media all and (max-width:436px) {
  .connectionForm {
    width: 20rem;
  }
}

@media all and (max-width:344px) {
  .connectionForm {
    width: 18rem;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      li {
        margin: 1rem 0 .2rem 0;
      }
    }
  }
}


