.comments {

    .icon_length {

        display: flex;
        align-items: center;
        margin-left: 1.5rem;
        .comment_length {
            cursor: pointer;
            margin-left: .5rem;
        }
    }
}


// ******* READANDADDCOMMENT

.showComment {
    display: flex;
    flex-direction: column;
    color: red;
    transition: 1s ease;
}